// Custom styles.

// 主背景
.container {
	background-image: linear-gradient(120deg, #adc 0%, #cad 100%);
}

// brand变色 -> \css\_schemes\Pisces\_brand.styl
.site-meta {
  background: #3f3f3f;
}

// 菜单栏修改 -> \css\_schemes\Pisces\_layout.styl
.header-inner {
   background: transparent;
}
// 菜单栏下拉菜单 -> \css\_schemes\Pisces\_menu.styl
.menu .menu-item {
  a {
    &:hover { 
      background: #eeeeff;
      border-bottom-color: #bbbbcc;
    }
  }
}
.menu-item-active a { background: #eeeeff; }

// 侧边栏透明 -> \css\_schemes\Pisces\_sidebar.styl
.sidebar {
  background: transparent;
  .sidebar-inner { background: transparent; }
}

// 文章部分取消白底 -> \css\_schemes\Pisces\ _layout.styl
.content-wrap {
    background: transparent;
    min-height: 800px;
}

// 按钮变色 -> ?
.btn {
  background: transparent;
}

//codeblock设置 -> \css\_common\components\highlight\highlight.styl
.highlight {
  figcaption {
    margin-top: 0.5em;
    margin-bottom: 0.5em;
    margin-left: 1em;
  }
  a { margin-right: 1em; }
}