// Custom styles.

//文章部分
.content-wrap {
    margin-top: 60px;
    padding: 60px 60px 60px 60px;
    background: #fff;
    opacity: 0.8;
    min-height: 500px;
}

//侧边栏透明
.sidebar {
  background: transparent;
}
//侧边信息栏透明
.sidebar-inner {
  background: transparent;
}